.bi-instagram {
  width: 30px;
  height: 30px;
  color: #3f3d3d;
}
.bi-instagram:hover {
  color: #ecc1c7;
}

.bi-whatsapp {
  width: 30px;
  height: 30px;
  color: #3f3d3d;
}
.bi-whatsapp:hover {
  color: #ecc1c7;
}

* {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "gilroy";
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 1fr 0.3fr 0.1fr;
  grid-template-areas: "header header header" " main   main   main" " aside  aside  aside" "footer footer footer";
}

@font-face {
  font-family: "gilroy";
  src: url("../assets/fonts/Gilroy-Light.ttf");
}
html {
  font-family: "gilroy";
}

header {
  display: grid;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #c45762;
  grid-area: header;
}

h1 {
  font-weight: 40px;
  color: #c45762;
}

h2 {
  margin-top: 80px;
  margin-bottom: 200px;
  text-align: center;
}

h3 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  color: #c45762;
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

h5 {
  text-align: center;
  font-size: 15px;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  display: center;
  align-items: center;
  text-align: center;
  min-height: 80px;
}
.logo img {
  align-items: center;
  text-align: center;
  height: 100px;
  width: 150px;
  margin-top: 1px;
}

nav a {
  font-weight: 500;
  padding-right: 30px;
}
nav a:hover {
  color: #c45762;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: contents;
  margin-bottom: 10px;
}

hr {
  color: #c45762;
  margin: none;
}

.cabeza img :hover {
  transform: none;
}

.carousel-control-next-icon {
  opacity: 0%;
}

.carousel-control-prev-icon {
  opacity: 0%;
}

main {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 100px;
  text-align: center;
  background-color: white;
  grid-area: main;
  overflow: hidden;
}

.products {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}
.products img {
  margin-top: 50px;
  margin-left: 50px;
  margin-inline: 50px;
  width: 175px;
  transition: 0.5s;
  object-fit: cover;
  border: 1px solid #c45762;
}
.products img:hover {
  transform: scale(1.1);
}

.nohover {
  pointer-events: none;
}
.nohover img {
  margin-top: 0px;
  margin-left: 0px;
}

.productos {
  margin: 25px;
  transition: 0.5s;
}
.productos:hover {
  transform: scale(1.1);
}

.accord {
  transition: 0.5s;
}
.accord:hover {
  transform: scale(1.05);
}

.marcas {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}

img {
  margin-top: 50px;
  margin-left: 50px;
  margin-inline: 50px;
  width: 150px;
  transition: 0.5s;
  object-fit: cover;
}

img:hover {
  transform: scale(1.2);
}

ol li {
  text-align: justify;
  display: list-item;
  list-style: decimal;
  margin-bottom: 0;
}

.descuento {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

main img {
  width: 100%;
  max-height: 1000px;
  margin-bottom: 30px;
}

li {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.margin {
  margin-top: 50px;
}

.btn-outline-light {
  --bs-btn-border-color: none;
  --bs-btn-color: none;
}

.accordion {
  --bs-accordion-btn-bg: #ecc1c7;
  --bs-accordion-active-bg:#c45762;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: #333333;
  --bs-accordion-border-color: none;
}

.asd {
  margin-left: 50px;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
}

aside {
  grid-area: aside;
  display: flex;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.accordion-body {
  text-align: center;
}

.btn-outline-primary {
  --bs-btn-color: #c45762;
  --bs-btn-border-color: #c45762;
  --bs-btn-hover-bg: #ecc1c7;
  --bs-btn-hover-border-color: #bc828a;
  --bs-btn-hover-color: map-get($colors , bt );
  --bs-btn-active-color: map-get($colors , white );
  --bs-btn-active-bg: #e4a7bb;
  --bs-btn-active-border-color: map-get($colors , sec );
}

iframe {
  width: 100%;
}

p {
  text-align: center;
  font-weight: 200;
  padding-bottom: 20px;
}

ul li {
  list-style: none;
  padding: 5px;
  margin-top: 10px;
}

#uno:hover {
  color: white;
}

.first {
  font-size: 25px;
  padding: 15px;
  border: 1px solid #000000;
  background-color: #ecc1c7;
}

.second {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  transition: 0.5s;
  object-fit: cover;
}
.second:hover {
  transform: scale(1.1);
}

.icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
  list-style: none;
  align-items: center;
  background-color: white;
  margin-bottom: 100px;
}
.icons img {
  margin-top: 200px;
  margin-bottom: 25px;
  margin-inline: 200px;
  width: 50px;
}

.one {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.three :hover {
  color: white;
}

.mapa {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1px;
  margin: 70px 15px;
  border: 1px dashed #c47652;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  grid-area: footer;
}

.foot {
  margin: 25px;
  margin-bottom: 70px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content max-content;
    grid-template-areas: "header header " " main   main   " " aside  aside  " "footer footer ";
  }
  .logo {
    color: white;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas: "header" " main" " aside" "footer";
  }
}

/*# sourceMappingURL=main.css.map */
