*{
  margin: 0;
  padding: 0;
  background-color: #ffdee9;
  font-family: "gilroy";

}





/*grilla*/
.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 1fr 0.3fr 0.1fr;
  grid-template-areas: 
  "header header header"
  " main   main   main"
  " aside  aside  aside"
  "footer footer footer";
}


@font-face {
  font-family: "gilroy";
  src: url('./fonts/Gilroy-Light.ttf');
}


html{
  font-family: "gilroy";
}






/*header*/

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  position: sticky;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  grid-area: header;
}


h1{
  font-weight: 550;
}

a{
  text-decoration: none;
  color: black;
}

.logo {
  display: center;
  align-items: center;
  text-align: center;
  min-height: 80px;
}


.logo img {
  align-items: center;
  text-align: center;
  height: 70px;
  margin-right: 10px;
  margin-top: 10px;
}


nav a{
  font-weight: 500;
  padding-right: 30px;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav li{
  display: inline-block;
  margin-bottom: 10px;
}


nav a:hover{
  color: white;
}








/* main */

main {
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 100px;
  text-align: center;
  background-color: #ffdee9;
  grid-area: main;
  overflow: hidden;
 
}

.products {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  list-style: none;
  background-color: #ffdee9;
  align-items: center;
  justify-content: space-around;

}

.productos{
    margin: 25px;
}







/* aside */

.descuento {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 100px;

}

main img {
  width: 100%;
  max-height: 1000px;
  margin-bottom: 100px;
}


li {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  margin-bottom: 100px;
   
}

.margin{
  margin-top: 50px;
}
.btn-outline-light{
  --bs-btn-border-color: none;
  --bs-btn-color: none;
}



/* productos */

.accordion{
  --bs-accordion-btn-bg:#f6edf0;
  --bs-accordion-active-bg: #f7f0f2;
}

aside{
  grid-area: aside;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    
}


.btn-outline-primary {
  --bs-btn-color: black;
  --bs-btn-border-color: black;
  --bs-btn-hover-bg: #e55e8b;
  --bs-btn-hover-border-color: #dc336b;
  --bs-btn-hover-color: black;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: #e4a7bb;
  --bs-btn-active-border-color: white;
}


.products img{
  margin-top: 50px;
  margin-left: 50px;
  margin-inline: 50px;
  width: 150px;
}






/* donde encontrarnos */
iframe{
  width: 100%;
}

p{
  text-align: center;
  font-weight: 200;
  padding-bottom: 40px;
  
}

ul li{
  list-style: none;
  padding: 5px;
  margin-top: 10px;
}

#uno:hover{
  color: white;
}


/*queres un turno*/

.first{
  font-size: 25px;
  padding: 15px;
  border: 1px solid #000000;
  background-color: #f2b3c8;

}

.second{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
.second :hover{
  color: white;
}

h3{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 50px;
}

h4{
  font-size: 25px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

h5{
  text-align: center;
  font-size: 15px;
  padding-top: 40px;
}


/* venta, envios y metodo de pago */

.icons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
  list-style: none;
  align-items: center;
  background-color: #ffdee9;
  margin-bottom: 100px;
}

.icons img{
  margin-top: 200px;
  margin-inline: 200px;
  width: 50px;
}





/*tratamiento*/

.one{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

}

.three :hover{
  color: white;

}






/*mapa*/

.mapa{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1px;
  margin: 70px 15px;
  border: 1px dashed #000000;

}






/*footer*/

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 25px;
  padding-top: 50px; 
  grid-area: footer;
  padding: 50px;
}






/* tablet */
@media (min-width: 768px) and (max-width: 1200px){
    .grid-container{
      display: grid;
      background-color: #000000;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 0.1fr 1fr 0.3fr 0.1fr;
      grid-template-areas: 
      "header header "
      " main   main   "
      " aside  aside  "
      "footer footer "
  }
    
    .logo{
      color: white;
    }

  }

  /* mobile */
@media (min-width: 320px) and (max-width: 767px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 0.3fr 0.01fr;
    grid-template-areas: 
    "header"
    " main"
    " aside"
    "footer"
  }
  
  .logo{
    color: rgb(182, 64, 170);
  }
  .menu{
    color: #f2b3c8;
  }
}



