header {
    @include flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    position: sticky;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid black;
    grid-area: header;
  }
  
  
  h1{
    font-weight: map-get($ren, w );
  }
  
  h2{
    margin-top: 80px;
    margin-bottom: 200px;
    text-align: center;
    
  }

  h3{
    
    text-align: center;
    margin-bottom: 20px;
  }
  
  h4{
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  h5{
    text-align: center;
    font-size: 15px;
    padding-top: 40px;
  }


  a{
    text-decoration: none;
    color: map-get($colors, prim );
  }
  
  .logo {
    display: center;
    align-items: center;
    text-align: center;
    min-height: 80px;

    img {
        align-items: center;
        text-align: center;
        height: 250px;
        margin-right: map-get($ren , marg );
        margin-top: map-get($ren, marg );
        }
  
  }
  
  
  nav a{
    font-weight: 500;
    padding-right: 30px;

    &:hover{
      color: white;
    }
  }
  
  nav ul{
    list-style: none;
    text-align: center;
  }
  
  nav li{
    display: inline-block;
    margin-bottom: map-get($ren , marg );
  }
  
  .fondo{
    background-color: #ffeff5;
  }
  
  