//tablet
@media (min-width: 768px) and (max-width: 1200px){
    .grid-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content max-content;
      grid-template-areas: 
      "header header "
      " main   main   "
      " aside  aside  "
      "footer footer "
      }
    
    .logo{
      color: white;
      } 

  }

  //mobile
@media (min-width: 320px) and (max-width: 767px){
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    grid-template-areas: 
    "header"
    " main"
    " aside"
    "footer"
  }
  
}
