//colores
$bk-color: #ffdee9;
$color-sec: black;
$color-terc: white; 



//tipografias
$font-princ: "gilroy";




//mapas
$colors: (
    prim:black,
    sec:white,
    terc:#f2b3c8,
    bt:#f6edf0,
    );

//tamaños
$ren:( 
    w: 550px,
    h: 1rem,
    marg: 10px,
    img: 50px,
)