//colores
$bk-color: #ffdee9;
$color-sec: black;
$color-terc: white; 



//tipografias
$font-princ: "gilroy";




//mapas
$colors: (
    prim:black,
    sec:white,
    terc:#f2b3c8,
    bt:#c45762,
    );

//tamaños
$ren:( 
    w: 550px,
    h: 1rem,
    marg: 10px,
    img: 50px,
);


//each
$bordes: (
    instagram: #ecc1c7,
    whatsapp: #ecc1c7,
);

//llave☝️      ☝️valor
//colores       valor_colores

@each $colores, $valor_colores in $bordes{
    .bi-#{$colores}{
        width: 30px;
        height: 30px;
        color:#3f3d3d;
        &:hover{
            color:$valor_colores;
        }
        
    }
    
}

